<div style="float: right;" class="ng-scope">
	<span style="font-size: 15px; margin-right: 5%;">Bob Macintosh</span><img
		src="images/user.png" style="width: 30%;">
</div>
<div>
	<div class="formCls">
		<div class="row">
			<div class="col-md-9 col-xs-9 col-sm-9">
				<h2 style="padding-left: 1em;">Brand wise Scenario input for {{ accountName }} </h2>
			</div>
		</div>
		<div class="row" style="clear: both;">
			<div id="finalize" style="min-width: 310px; height: 400px; max-width: 1170px; margin: 0 auto" ng-model="finalizeChart"></div>
		</div>
	</div>
</div>