<div style="float: right;" class="ng-scope">
	<span style="font-size: 15px; margin-right: 5%;">Bob Macintosh</span><img
		src="images/user.png" style="width: 30%;">
</div>
<div>
	<div class="formCls">
		<div class="row">
			<div class="col-md-9 col-xs-9 col-sm-9">
				<h2 style="padding-left: 1em;">Brand wise Scenario input for {{ baseHeader.account }} </h2>
			</div>
			<table  cellspacing="0" cellpadding="0" class="tabelCls">
				<thead>
					<tr>
						<th>Brand</th>
						<th ng-repeat="item in baseHeader.header"> {{ item }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="itemCh in basePriceBody">
						<td>{{itemCh.brandName}}</td>
						<td>{{itemCh.brandPrice}}</td>
						<td>{{itemCh.corporatePrice}}</td>
						<td>
							<input type="text" ng-model="fst_scenario[$index]">
						</td>
						<td>
							<input type="text" ng-model="snd_scenario[$index]">
						</td>
						<td>
							<input type="text" ng-model="thrd_scenario[$index]">
						</td>
					</tr>						
				</tbody>
			</table>
		</div>
		<div class="row" style="clear: both;">
			<a href="javascript:void(0);" class="runScenario"  ng-click="change_scenario();">Run Scenario</a>
		</div>
		<div class="row" style="clear: both;">
			<div id="scenario" style="min-width: 310px; height: 400px; max-width: 1170px; margin: 0 auto" ng-model="scenarioLineChart"></div>
		</div>
		<div class="row" style="clear: both;">
			<a href="javascript:void(0);" class="runScenario">Finalize</a>
		</div>
	</div>
</div>