<!--div>Page1</div-->
<div style="margin-top: 10%;;">
<div>
 <!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="piechart"></div>-->
 <div><center><span style="font-size:20px">   Market Share History</span></center></div> 
 <br/>
 <div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="linechart"></div>
 </br>
<div><center><span style="font-size:20px">   Brand contribution across my accounts</span></center></div> 
<br/>
<div id="container3" style="min-width: 210px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="productbullet"></div>
<!--  <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="piechart"></div> -->
  <!--<div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="donutchart"></div>-->
</div>
</div>