<div ng-controller="Page4Ctrl" style="margin-top: 10%;;">

	<br />
	<div
		style="width: 900px; height: 400px; margin: 0 auto; margin-top: 5%;">
		<div id="container1" style="width: 225px; height: 200px; float: left"></div>
		<div id="container2" style="width: 225px; height: 200px; float: left"></div>
		<div id="container3" style="width: 225px; height: 200px; float: left"></div>
		<div id="container4" style="width: 225px; height: 200px; float: left"></div>
	</div>
	<div style="margin-left: 3%; margin-right: 3%;">
		<table style="width: 100%;">
			<tr>
			    <th style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;"></th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Premium</th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Aspirational Premium</th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Value for Money</th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Low</th>
			</tr>
			<tr>
				<td style="background-color: lightgrey;"></td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
			</tr>
			<tr>
				<td>BAT</td>				
				<td>7,80 CHF</td>
				<td>8,65 CHF</td>
				<td>7,40 CHF</td>
				<td>7,61 CHF</td>
				<td>6,80 CHF</td>
				<td>7,02 CHF</td>
				<td>6,40 CHF</td>
				<td>6,59 CHF</td>
				
				
			</tr>
			<tr>
				<td style="background-color: lightgrey;">PMI</td>
				<td style="background-color: lightgrey;">7,70 CHF</td>
				<td style="background-color: lightgrey;">8,32 CHF</td>
				<td style="background-color: lightgrey;">7,30 CHF</td>
				<td style="background-color: lightgrey;">7,55 CHF</td>
				<td style="background-color: lightgrey;">6,80 CHF</td>
				<td style="background-color: lightgrey;">7,05 CHF</td>
				<td style="background-color: lightgrey;">6,30 CHF</td>
				<td style="background-color: lightgrey;">6,65 CHF</td> 
				
			</tr>
			<tr>
				<td>JTI</td>
				<td>7,50 CHF</td>
				<td>8,23 CHF</td>
				<td>7,20 CHF</td>
				<td>7,60 CHF</td>
				<td>6,50 CHF</td>
				<td>6,89 CHF</td>
				<td>6,00 CHF</td>
				<td>6,39 CHF</td>
			</tr>
			<tr>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">Others</td>				
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">7,60 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">8,21 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">7,30 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">7,73 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6,60 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6,94 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6,20 CHF</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6,56 CHF</td>
			</tr>
		</table>
	</div>
</div>