<div ng-controller="Page4Ctrl">
	<div style="float: right;" class="ng-scope">
		<span style="font-size: 15px; margin-right: 5%;">Bob Macintosh</span><img
			src="images/user.png" style="width: 30%;">
	</div>
	<br />
	<div
		style="width: 900px; height: 400px; margin: 0 auto; margin-top: 5%;">
		<div id="container1" style="width: 225px; height: 200px; float: left"></div>
		<div id="container2" style="width: 225px; height: 200px; float: left"></div>
		<div id="container3" style="width: 225px; height: 200px; float: left"></div>
		<div id="container4" style="width: 225px; height: 200px; float: left"></div>
	</div>
	<div style="margin-left: 3%; margin-right: 3%;">
		<table style="width: 100%;">
			<tr>
			    <th style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;"></th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Premium</th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">E-Cigarettes</th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Cigars</th>
				<th colspan="2" style="border-bottom-width: 1px;border-bottom-color: black;border-top-style: solid;border-top-width: 1px;border-top-color: black;border-top-style: solid;">Low</th>
			</tr>
			<tr>
				<td style="background-color: lightgrey;"></td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
				<td style="background-color: lightgrey;">Min Price</td>
				<td style="background-color: lightgrey;">Avg Price</td>
			</tr>
			<tr>
				<td>BAT</td>				
				<td>7.8</td>
				<td>8.65</td>
				<td>7.4</td>
				<td>7.61</td>
				<td>6.8</td>
				<td>7.02</td>
				<td>6.4</td>
				<td>6.59</td>
				
				
			</tr>
			<tr>
				<td style="background-color: lightgrey;">PMI</td>
				<td style="background-color: lightgrey;">7.7	</td>
				<td style="background-color: lightgrey;">8.32</td>
				<td style="background-color: lightgrey;">7.3</td>
				<td style="background-color: lightgrey;">7.55</td>
				<td style="background-color: lightgrey;">6.8</td>
				<td style="background-color: lightgrey;">7.05</td>
				<td style="background-color: lightgrey;">6.3</td>
				<td style="background-color: lightgrey;">6.65</td> 
				
			</tr>
			<tr>
				<td>JTI</td>
				<td>7.5</td>
				<td>8.23</td>
				<td>7.2</td>
				<td>7.6</td>
				<td>6.5</td>
				<td>6.89</td>
				<td>6</td>
				<td>6.39</td>
			</tr>
			<tr>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">Others</td>				
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">7.6</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">8.21</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">7.3</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">7.73</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6.6</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6.94</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6.2</td>
				<td style="background-color: lightgrey;border-bottom-width: 1px;border-bottom-color: black;border-bottom-style: solid;">6.56</td>
			</tr>
		</table>
	</div>
</div>