<div style="float: right;" class="ng-scope">
	<span style="font-size: 15px; margin-right: 5%;">Bob Macintosh</span><img
		src="images/user.png" style="width: 30%;">		
</div>
<div>
 <!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="piechart"></div>-->
 <div><center><span style="font-size:20px">   My top accounts by market share</span></center></div> 
 <br/>
 <div id="container0" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="linechart"></div>
 </br>
<div><center><span style="font-size:20px">   Brand contribution across my accounts</span></center></div> 
<br/>
 <!--div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="piechart"></div-->
  <!--<div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" ng-model="donutchart"></div>-->
  <br />
	<div
		style="width: 900px; height: 400px; margin: 0 auto; margin-top: 5%;">
		<div id="container1" style="width: 225px; height: 200px; float: left"></div>
		<div id="container2" style="width: 225px; height: 200px; float: left"></div>
		<div id="container3" style="width: 225px; height: 200px; float: left"></div>
		<div id="container4" style="width: 225px; height: 200px; float: left"></div>
	</div>
</div>