.spinner {
       position: fixed;
    top: 60%;
    left: 70%;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
    color: grey;
    border-radius: 10px;
    z-index: 10;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.active{
	color: #07b60f !important;
	background-color: #ececec;
}

.blocked{
	color: red !important;
	background-color: #ececec;
}

.cancelled{
	color: grey !important;
	background-color: #ececec;
}

.tabelCls {
    background: #F3F2F0;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    float: left;
    margin: 1em 1.3em;
    width: 96%;
}
.tabelCls th, .tabelCls td {
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 5px;
	width: 16%;
}
.runScenario {
	background: #7f7c77;
    border: 1px solid #7f7c77;
    border-radius: 0.5em;
    color: #fff;
    float: right;
    margin-right: 1.7em;
    padding: 1em;
    text-decoration: none !important;	
}
.canvas {
	width: 70%;
	height: 300px;
	border: 1px solid;
	margin: 1em 1.5em;
}