.spinner {
       position: fixed;
    top: 60%;
    left: 70%;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
    color: grey;
    border-radius: 10px;
    z-index: 10;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.active{
	color: #07b60f !important;
	background-color: #ececec;
}
.blocked{
	color: red !important;
	background-color: #ececec;
}
.cancelled{
	color: grey !important;
	background-color: #ececec;
}


.scopeClass {
	margin-left: 10%; 
	position: relative; 
	height: 100%;
}

.leftPannel {
	background-color: grey; 
	width: 10%; 
	height: 100%; 
	position: fixed;
}
.leftPannel ul {
	margin: 2.5em 0;
	padding: 0;
	list-style: none;
}
.leftPannel ul li {
	padding: 3em 0;
	text-align: center;
}
.leftPannel li a {
	padding: 2em;
    text-decoration: none;
}
.leftPannel li a.flower {
	background: url(../images/flower.png) no-repeat;
	background-size: 100% auto;    
}

.leftPannel li a.clock {
	background: url(../images/clock2.png) no-repeat;
	background-size: 100% auto;    
}
.leftPannel li a.clock.selected {
	background: url(../images/clock1.png) no-repeat;
	background-size: 100% auto;    
}

.leftPannel li a.new {
	background: url(../images/new2.png) no-repeat;
	background-size: 100% auto;    
}
.leftPannel li a.new.selected {
	background: url(../images/new1.png) no-repeat;
	background-size: 100% auto;    
}

.leftPannel li a.pig {
	background: url(../images/pig2.png) no-repeat;
	background-size: 100% auto;    
}
.leftPannel li a.pig.selected {
	background: url(../images/pig1.png) no-repeat;
	background-size: 100% auto;    
}

.leftPannel li a.chick {
	background: url(../images/chick2.png) no-repeat;
	background-size: 100% auto;    
}
.leftPannel li a.chick.selected {
	background: url(../images/chick1.png) no-repeat;
	background-size: 100% auto;    
}


.leftPannel li a.active {
	background: #c1c0be;
	color: #fff;
}

.tabelCls {
    background: #F3F2F0;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    float: left;
    margin: 1em 1.3em;
    width: 96%;
}
.tabelCls th, .tabelCls td {
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 5px;
	width: 16%;
}
.runScenario {
	background: #7f7c77;
    border: 1px solid #7f7c77;
    border-radius: 0.5em;
    color: #fff;
    float: right;
    margin-right: 1.7em;
    padding: 1em;
    text-align: center;
    text-decoration: none !important;
    width: 8%;	
}
.canvas {
	width: 70%;
	height: 300px;
	border: 1px solid;
	margin: 1em 1.5em;
}
.radioDiv {
	clear: both;
    margin: 1em auto;
    width: 40%;
}
.maskPage {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 146%;
    background-color: #333;
    z-index:1035;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
